force-app/main/default/flows/Automate_your_work_using_flows.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>assign_data_to_account_record_var</name>
        <label>assign data to account record var</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>account_collection_var.AccountNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_account_number_from_text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account_collection_var.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_account_name_from_text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account_collection_var.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_account_phone_from_text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_account_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>contact_values_assignment</name>
        <label>contact values assignment</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>contact_record_var.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_account_name_from_text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_contact_record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>action_decision</name>
        <label>action decision</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_process_successful</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>createaccountrecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Message</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_data_to_account_record_var</targetReference>
            </connector>
            <label>createaccountrecord</label>
        </rules>
        <rules>
            <name>createcontactrecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Message</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>contact_values_assignment</targetReference>
            </connector>
            <label>createcontactrecord</label>
        </rules>
    </decisions>
    <description>Automate your work using flows, like create account, contact, case or opportunity.</description>
    <environments>Default</environments>
    <formulas>
        <name>get_account_name_from_text</name>
        <dataType>String</dataType>
        <expression>MID({!Message}, FIND({!name_lebel}, {!Message}) + 5, FIND(&quot;|&quot;, {!Message}) - FIND({!name_lebel}, {!Message})-5)</expression>
    </formulas>
    <formulas>
        <name>get_account_number_from_text</name>
        <dataType>String</dataType>
        <expression>MID({!Message}, FIND({!account_label}, {!Message})+4, FIND(&quot;?&quot;, {!Message}) - FIND({!account_label}, {!Message})-4)</expression>
    </formulas>
    <formulas>
        <name>get_account_phone_from_text</name>
        <dataType>String</dataType>
        <expression>MID({!Message}, FIND(&quot;+&quot;, {!Message})+1, FIND(&quot;/&quot;, {!Message}) - FIND(&quot;+&quot;, {!Message})-1)</expression>
    </formulas>
    <formulas>
        <name>validate_accountno</name>
        <dataType>Boolean</dataType>
        <expression>AND(LEN({!get_account_number_from_text}) &gt; 11 , ISNULL({!get_account_number_from_text}))</expression>
    </formulas>
    <formulas>
        <description>check if  message is empty.</description>
        <name>validate_message</name>
        <dataType>Boolean</dataType>
        <expression>LEN({!Message}) &lt; 0</expression>
    </formulas>
    <formulas>
        <name>validate_message_text</name>
        <dataType>Boolean</dataType>
        <expression>ISNULL({!get_account_number_from_text})</expression>
    </formulas>
    <formulas>
        <name>validate_phone</name>
        <dataType>Boolean</dataType>
        <expression>ISNULL({!get_account_phone_from_text}) || LEN({!get_account_phone_from_text}) &lt; 12</expression>
    </formulas>
    <interviewLabel>Automate your work using flows {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Automate your work using flows</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_account_record</name>
        <label>create account record</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>process_successful</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error_Message</targetReference>
        </faultConnector>
        <inputReference>account_collection_var</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_contact_record</name>
        <label>create contact record</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Copy_1_of_process_successful</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Display_Error_Message</targetReference>
        </faultConnector>
        <inputReference>contact_record_var</inputReference>
    </recordCreates>
    <screens>
        <name>Copy_1_of_Display_Error_Message</name>
        <label>Copy 1 of Display Error Message</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_error_message2</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_process_successful</name>
        <label>Copy 1 of process successful</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_text1</name>
            <fieldText>&lt;p&gt;Contact created successfully&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_process_successful</name>
        <label>Copy 2 of process successful</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_text1</name>
            <fieldText>&lt;p&gt;did not understand the task.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Error_Message</name>
        <label>Display Error Message</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error_message2</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>process_successful</name>
        <label>process successful</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>text1</name>
            <fieldText>&lt;p&gt;Account created successfully&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>First screen for taking user input.</description>
        <name>Starting_Screen</name>
        <label>Starting Screen</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>action_decision</targetReference>
        </connector>
        <fields>
            <name>error_text</name>
            <fieldText>&lt;p&gt;{!error_message1}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>error_message1</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Message</name>
            <defaultValue>
                <stringValue>{!Message}</stringValue>
            </defaultValue>
            <fieldText>Message</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;{!help_text}&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>display_entered_message</name>
            <fieldText>&lt;p&gt;{!Message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Message</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>display_account</name>
            <fieldText>&lt;p&gt;{!get_account_number_from_text}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Message</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>account_label</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>display_name</name>
            <fieldText>&lt;p&gt;{!get_account_name_from_text}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Message</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>name_lebel</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>display_phone</name>
            <fieldText>&lt;p&gt;{!get_account_phone_from_text}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Starting_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>store all account field information this.</description>
        <name>account_collection_var</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>store account label</description>
        <name>account_label</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>AC</stringValue>
        </value>
    </variables>
    <variables>
        <name>contact_record_var</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>error_message1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>help_text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>account number should end with &apos;?&apos;. name should end with &apos;|&apos;. and phone should start with &apos;+&apos; and end with &apos;/&apos;</stringValue>
        </value>
    </variables>
    <variables>
        <name>is_phone_valid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>name</description>
        <name>name_lebel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>name</stringValue>
        </value>
    </variables>
    <variables>
        <description>phone</description>
        <name>phone_lebel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>phone</stringValue>
        </value>
    </variables>
</Flow>
